#bt_login:hover {
    -fx-background-color: #8C0C5F; /* Change to the desired color when hovered */
    -fx-text-fill: #FFFFFF; /* Change text color when hovered */
    -fx-cursor: hand; /* Change cursor to hand when hovered */
}
